

.mainContent {
  max-width: 50rem;
  margin: 0 auto;
  padding-top: 5rem;
  h1{
    color: white;
    font-size: 3rem;
  }
  .text {
    padding-top: 1rem;
    max-width: 40rem;
    line-height: 1.8rem;
  }

  .dayVideo {
    padding-top: 2rem;
    text-align: center;
  }
}